<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Login</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/login">
        <table>
            <tr>
                <td>email:</td><td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>password:</td><td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="login" /></td>
            </tr>
            <tr>
                <td><a href="/register">Sign Up</a></td>
            </tr>
        </table>
    </form>
</body>
</html>